{{#compositeStates}}
  {{#nestedExternalSelfTransitions}}
  "self_{{{.}}}" [shape=point style=invis width=0 height=0 fixedsize=true]
  {{/nestedExternalSelfTransitions}}
{{/compositeStates}}
{{#initialStates}}
  "{{{name}}}" [shape=circle style=filled class="{{{class}}}" {{#if color}}color="{{{color}}}" fillcolor="{{{color}}}" {{else}}fillcolor=black {{/if}}{{#if active}}penwidth=3.0 {{/if}}fixedsize=true height=0.15 label=""]
{{/initialStates}}
{{#regularStates}}
  "{{{name}}}" [margin=0 class="{{{class}}}" {{#if color}}color="{{{color}}}" {{/if}}{{#if active}}peripheries=1 style=rounded {{/if}}label= < 
    <table align="center" cellborder="0" border="2" style="rounded" width="48">
      <tr><td width="48"{{#if actions}} cellpadding="2"{{else}} cellpadding="7"{{/if}}>{{#if active}}<i>{{label}}</i>{{else}}{{label}}{{/if}}</td></tr>
      {{#actions}}
        {{#if @first}}<hr/>{{/if}}
        <tr><td align="left" cellpadding="2">{{.}}</td></tr>
      {{/actions}}
    </table>
  >]
{{/regularStates}}
{{#historyStates}}
  "{{{name}}}" [shape=circle class="{{{class}}}" {{#if color}}color="{{{color}}}" {{/if}}{{#if active}}penwidth=3.0 {{/if}}label="H"]
{{/historyStates}}
{{#deepHistoryStates}}
  "{{{name}}}" [shape=circle class="{{{class}}}" {{#if color}}color="{{{color}}}" {{/if}}{{#if active}}penwidth=3.0 {{/if}}label="H*"]
{{/deepHistoryStates}}
{{#choiceStates}}
  "{{{name}}}" [shape=diamond fixedsize=true width=0.35 height=0.35 fontsize=10 class="{{{class}}}" {{#if color}}color="{{{color}}}" {{/if}}{{#if active}}penwidth=3.0 {{/if}}label=" "]
  "{{{name}}}" -> "{{{name}}}" [label=<{{#actions}}{{#if @first}}{{else}}\n{{/if}}{{#if ../active}}<i>{{.}}</i>{{else}}{{.}}{{/if}}{{/actions~}}> color="#FFFFFF01"{{#color}} fontcolor="{{{.}}}"{{/color}} class="{{{class}}}"];
{{/choiceStates}}
{{#forkjoinStates}}
  "{{{name}}}" [shape=rect class="{{{class}}}" {{#if color}}color="{{{color}}}" fillcolor="{{{color}}}" {{else}}fillcolor=black {{/if}}{{#if active}}penwidth=3.0 {{/if}}label=" " fixedsize=true style=filled {{{sizingExtras}}}]
{{/forkjoinStates}}
{{#junctionStates}}
  "{{{name}}}" [shape=circle style=filled class="{{{class}}}" {{#if color}}color="{{{color}}}" fillcolor="{{{color}}}" {{else}}fillcolor=black {{/if}}{{#if active}}penwidth=3.0 {{/if}}fixedsize=true height=0.15 label=""]
{{/junctionStates}}
{{#terminateStates}}
  "{{{name}}}" [label= < 
      <table align="center" cellborder="0" border="0">
        <tr><td cellpadding="0"><font {{#if color}}color="{{{color}}}" {{/if}}point-size="20">X</font></td></tr>
        <tr><td cellpadding="0"><font {{#if color}}color="{{{color}}}"{{/if}}>{{label}}</font></td></tr>
      </table>
    > class="{{{class}}}"]
{{/terminateStates}}
{{#finalStates}}
  "{{{name}}}" [shape=circle style=filled class="{{{class}}}" {{#if color}}color="{{{color}}}" fillcolor="{{{color}}}" {{else}}fillcolor=black {{/if}}fixedsize=true height=0.15 peripheries=2 {{#if active}}penwidth=3.0 {{/if}}label=""]
{{/finalStates}}
{{#compositeStates}}
  subgraph "cluster_{{{name}}}" {
    class="{{{class}}}" {{#if color}}color="{{{color}}}" {{/if}}label= <
    <table cellborder="0" border="0">
      <tr><td>{{#if active}}<i>{{label}}</i>{{else}}{{label}}{{/if}}</td></tr>
      {{#actions}}
        {{#if @first}}<hr/>{{/if}}
        <tr><td align="left">{{.}}</td></tr>
      {{/actions}}
    </table>
    > {{#if parentIsParallel}}style="dashed" penwidth=1{{else}}style=rounded {{#if active}}penwidth=3.0{{else}}penwidth=2.0{{/if}}{{/if}}
    "{{{name}}}" [shape=point style=invis margin=0 width=0 height=0 fixedsize=true]
    {{#stateSection statemachine}}{{/stateSection}}
  }
{{/compositeStates}}
{{#states}}
    {{#noteName}}
    "{{{.}}}" [color=black fontcolor=black label="{{{../noteFlattened}}}" shape=note fontsize=10 fillcolor="#ffffcc" penwidth=1.0]
    "{{{../name}}}" -> "{{{.}}}" [style=dashed arrowtail=none arrowhead=none]
    {{/noteName}}
{{/states}}
